.event-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.event-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 15px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
 
}

.event-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.event-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.event-card p {
  font-size: 1rem;
  color: #666;
}

.event-card .btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.event-card .btn:hover {
  background-color: #0056b3;
}

.event-card:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .event-card {
    width: 100%;
    max-width: 300px;
  }
}
